<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1 class='banner'>Stupid Answer</h1>
  <h2><%= @question %></h2>
  <p><%= @answer %></p>
  <%= link_to'An other question?', ask_path %>
</form>
</body>
</html>
